{% extends 'base.html' %}

{% block title %}Art HQ - Cart{% endblock %}

{% block content %}
<div class="container mt-5 d-flex align-items-center justify-content-center">
    <a href={% url 'shoppingcart:home' %} class="link-dark">
        <h1>Art HQ Collection</h1>
    </a>
</div>

<div class="container mt-3 text-center">
    <h2>Items in cart: {{ cart_count }}</h2>
    <hr>
</div>

<section class="cart">
    <div class="container">
        {% for sale in sales %}
        <div class="row text-center align-items-center my-3">
            <div class="col">
                <img src="{{ sale.product.productimage_set.get.images.url }}" class="img-fluid">
            </div>
            <div class="col">
                <h3>{{ sale.product.name }}</h3>
            </div>
            <div class="col">
                <h3>{{ sale.product.price }}</h3>
            </div>
            <div class="col">
                <a href={% url 'shoppingcart:delete-from-cart' sale.id %}>
                    <h2><i class="bi bi-cart-x"></i></h2>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}