body::before {
    display: block;
    content: '';
    height: 60px;
}

.home-products .card {
    height: 375px;
    max-height: 450px;
}

.home-products img {
    height: 200px;
    max-height: 200px;
    width: auto;
}

.home-products .card .btn {
    width: 150px;
}

.details img {
    max-height: 500px;
}

.cart img {
    max-height: 100px;
}