body::before {
    display: block;
    content: '';
    height: 60px;
}

.home-products .card {
    min-height: 400px;
}

.home-products img {
    height: 200px;
    width: auto;
    object-fit: cover;
}