body::before {
    display: block;
    content: '';
    height: 60px;
}

.home-products .card {
    height: 375px;
    max-height: 450px;
}

.home-products img {
    height: 200px;
    max-height: 200px;
    width: auto;
    /* object-fit: cover; */
}

.home-products button {
    width: 150px;
}